ION allows bundles w/ timestamp zero and no bundle age block

**Summary:** When parsing a BPv7 bundle that includes a Creation Timestamp set to zero, ION-DTN BPv7 4.1.3s fails to reject the bundle when the Bundle Age block is missing. This behavior contradicts the standard, which requires that such a block must be present when the creation timestamp is zero and the local clock is unreliable.

**Example:**

```
9f88071a000200040082028203018202820302820100821b0000000000000000001a8218200085010100004454455354ff
```

This bundle sets the Creation Timestamp to (0, 0) and does not include a Bundle Age block.

According to [RFC 9171 Section 4.4.2](https://datatracker.ietf.org/doc/html/rfc9171#section-4.4.2):

> If the bundle's creation time is zero, then the bundle MUST contain exactly one (1) occurrence of this type of block;

Since the timestamp is zero, this bundle MUST contain a Bundle Age block. ION-DTN BPv7 does not enforce this.

`bpsink` response:
```
(.venv) XXX@XXX:~/targets/nasa/ION-DTN/receiver-bpv7/3.bench.udp$ bpsink ipn:3.1
ION event: Payload delivered.
        payload length is 4.
        'TEST'
```

Sending the test case to `bpsink`:
```
xxd -r -p <<< "9f88071a000200040082028203018202820302820100821b0000000000000000001a8218200085010100004454455354ff" | nc -u -w1 <IP> 3113
```

**Expected behavior:**
The implementation should reject the bundle and indicate that a Bundle Age block is required when the timestamp is zero.

To compare with other implementations of BPv7 we tested this bundle against bp7-rs:

```
Bundle {
    primary: PrimaryBlock {
        version: 7,
        bundle_control_flags: 131076,
        crc: CrcNo,
        destination: Dtn(
            1,
            DtnAddress("//node18/~tele"),
        ),
        source: Dtn(
            1,
            DtnAddress("-/node81/files"),
        ),
        report_to: Dtn(
            1,
            DtnAddress("//Tode81/files"),
        ),
        creation_timestamp: CreationTimestamp(
            0,
            0,
        ),
        lifetime: 2182619.136s,
        fragmentation_offset: 0,
        total_data_length: 0,
    },
    canonicals: [
        CanonicalBlock {
            block_type: 1,
            block_number: 1,
            block_control_flags: 0,
            crc: CrcNo,
            data: Data([
                67, 67, 66, 67,
            ]),
        },
    ],
}
Error validating bundle: [BundleError("Creation Timestamp is zero, but no Bundle Age block is present")]
```
Which rejects the bundle for exactly this reason, the same behaviour is observed in uD3TN's BPv7 implementation.

**Discussion:**
The likely cause is that ION-DTN BPv7 does not check whether a Bundle Age block is present when encountering a zero-valued Creation Timestamp. This results in ION-DTN BPv7 silently accepting malformed or non-conformant bundles that should be rejected according to the specification. 

By failing to enforce this rule, ION-DTN BPv7 may allow bundles into the network that are incorrectly timestamped, which can affect time-based decisions (e.g., expiration, routing) and introduce undefined behaviour. 

**Recommendation:**
Update the bundle validation logic in ION-DTN BPv7 to reject bundles that:

* Have a creation timestamp of zero
* And do not include a Bundle Age block


Thank you, we will look into this one.

Issue duplicated into development repo and assigned ticket. Will report back when fix is complete.

Tracked in ion-dtn repo

@nrichard42 Assigning this to you if you have time. Please take a look and let us know what you recommend we do.